* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Noto Serif Display", serif;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
}

.btn, .tarjeta-group .tarjeta .tarjeta-body .boton-card {
  display: inline-block;
  background-color: rgb(185, 169, 159);
  border: #291c08;
  color: white;
  font-family: "Montserrat", serif;
}
.btn:hover, .tarjeta-group .tarjeta .tarjeta-body .boton-card:hover {
  background-color: rgb(149, 133, 124);
}

/*nav*/
.color-nav {
  background-color: rgb(185, 169, 159);
  border-radius: 15px;
  margin: 5px 40px;
}
.color-nav .navbar-collapse {
  justify-content: center;
}
.color-nav .navbar-collapse .navbar-nav {
  font-size: 20px;
  gap: 30px;
}
.color-nav .navbar-collapse .navbar-nav .nav-item {
  margin-left: 10px;
}
.color-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
.color-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: rgb(240, 219, 219);
  font-size: 21px;
}

.logo-abel {
  width: 100px;
  height: 60px;
  margin-left: 15px;
  z-index: 10;
}

/*footer*/
footer {
  background-color: rgb(185, 169, 159);
}
footer .div-container-footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
}
footer .div-container-footer .div-col {
  text-align: left;
}
footer .div-container-footer .div-col .copy {
  font-size: 15px;
  color: #ffffff;
}
footer .div-container-footer .rrss {
  text-align: center;
}
footer .div-container-footer .rrss .redes {
  width: 24px;
  height: 24px;
  margin: 10px;
}

/*home*/
.main-home {
  padding-top: 5.625rem;
}
.main-home .main-content .div-container-home {
  margin-top: 50px;
}
.main-home .main-content .div-container-home .animate__animated.animate__rubberBand {
  --animate-duration: 1.5s;
}
.main-home .main-content .div-container-home .nombre-abel {
  margin-top: 25px;
  padding-top: 25px;
  width: 100%;
}
.main-home .main-content .div-container-home .parrafo-inicio {
  text-align: justify;
  margin-top: 25px;
}
.main-home .main-content .div-container-home .imagen-home {
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin-top: 50px;
}

/*discos*/
.main-discos {
  padding-top: 48px;
  margin-top: 48px;
}
.main-discos .titulo-musica {
  margin-top: 20px;
  text-align: center;
}
.main-discos .container-musica {
  text-align: center;
}
.main-discos .container-musica .parrafo-musica {
  margin-top: 10px;
  margin-bottom: 30px;
}

.container-discos {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 0px;
  width: 100%;
}
.container-discos .container-spotify {
  width: 100%;
}
.container-discos .container-spotify .container-iframe-discos {
  padding-right: 16px;
  padding-right: 16px;
  text-align: center;
}
.container-discos .container-spotify .container-iframe-discos .iframe-spotify {
  width: 300px;
  height: 380px;
}

/*tickets*/
.main-tickets {
  margin-top: 30px;
  padding-top: 50px;
}
.main-tickets .titulo-tickets {
  margin-left: 2.5rem;
}
.main-tickets .imagen-es-ahora-tickets {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  line-height: 0px;
}

/*fondo-tickets*/
.section-tickets {
  text-align: center;
  margin-top: 40px;
  background-image: url(/assets/img/fondo-tickets.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.lista-group {
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  list-style: none;
}
.lista-group .link-img {
  width: 40%;
}
.lista-group .link-img:hover {
  transform: scale(1.1);
  transition: ease-in 0.4s;
}
.lista-group .link-img .img-luciano-abel {
  width: 70%;
  max-width: 70%;
  max-height: 10%;
  line-height: 0px;
  border-radius: 8px;
}
.lista-group .lista-group-item {
  font-family: "Montserrat", serif;
  border: none;
  text-align: center;
}
.lista-group .lista-group-item .direccion {
  color: #0069c2;
  text-decoration: underline;
}
.lista-group .lista-group-item .direccion:hover {
  text-decoration: none;
}
.lista-group .lista-boton {
  text-align: center;
}
.lista-group .lista-boton:hover {
  animation: headShake;
  animation-duration: 2.5s;
}
.lista-group .btn-tickets {
  color: white;
}

.subtitulo-precios {
  margin-top: 25px;
  margin-bottom: 25px;
}

.subtitulo-mapa {
  margin-top: 25px;
  margin-bottom: 25px;
}

/*table*/
.container-precios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.container-precios .img-ubicacion {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

.tabla th {
  padding: 10px 30px;
  font-family: "Montserrat", serif;
  background-color: rgb(185, 169, 159);
  text-align: center;
}
.tabla tbody tr {
  border: 1px solid;
}
.tabla tbody tr td {
  font-family: "Montserrat", serif;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid rgb(185, 169, 159);
}
.tabla tbody tr .color-td {
  background-color: rgb(218, 212, 208);
}

/*cards*/
.tarjeta-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0;
}
.tarjeta-group .tarjeta {
  background-color: #fffaf2;
  margin-bottom: 10px;
  border-radius: 8px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.tarjeta-group .tarjeta .tarjeta-header .img-card {
  width: 100%;
  display: block;
  border-radius: 8px 8px 0 0;
}
.tarjeta-group .tarjeta .tarjeta-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  text-align: left;
}
.tarjeta-group .tarjeta .tarjeta-body .descripcion {
  flex-grow: 1;
}
.tarjeta-group .tarjeta .tarjeta-body .boton-card {
  font-family: "Montserrat", serif;
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
}
.tarjeta-group .tarjeta .tarjeta-body .boton-card:hover {
  animation: headShake;
  animation-duration: 2.5s;
}

/*showroom*/
.main-local {
  padding-top: 48px;
  margin-top: 24px;
}
.main-local .borde {
  border-radius: 3%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
}
.main-local .sub-mapa {
  margin-top: 48px;
}
.main-local .sub-showroom {
  margin-top: 48px;
}

/*contenido*/
h1 {
  font-family: "Noto Serif Display", serif;
}

p {
  font-family: "Montserrat", serif;
  font-size: 1.25rem;
}

h2 {
  font-family: "Montserrat", serif;
  font-size: 30px;
}

h4 {
  font-family: "Montserrat", serif;
  font-size: 25px;
}

h5 {
  font-family: "Montserrat", serif;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: rgb(52, 51, 51);
}
a:hover {
  color: black;
}

label {
  font-family: "Montserrat", serif;
}

input {
  font-family: "Montserrat", serif;
}

textarea {
  font-family: "Montserrat", serif;
}

.lista-group-item {
  font-size: 1.25rem;
}

.btn {
  font-size: 20px;
}

.acordion-button {
  font-size: 1.25rem;
}

/*acordion preguntas*/
.acordion-header .acordion-button {
  width: 100%;
  height: 100px;
  border: none;
  padding-left: 10px;
  background-image: linear-gradient(to bottom, rgb(196, 177, 166), rgb(158, 145, 136));
  color: white;
  text-align: left;
}

.acordion-body {
  padding: 15px;
  font-family: "Montserrat", serif;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: black;
}

/*media mobile*/
@media (max-width: 450px) {
  /*nav*/
  .color-nav {
    margin: 5px;
    padding: 5px 5px;
  }
  .color-nav .navbar-collapse .navbar-nav {
    gap: 10px;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .lista-group-item {
    font-size: 1rem;
  }
  .btn {
    font-size: 16px;
  }
  .boton-card {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
  }
  .encabezado-tabla {
    font-size: 13px;
  }
  .size-td {
    font-size: 12px;
  }
  .acordion-button {
    font-size: 16px;
  }
  /*media-card*/
  .tarjeta-group {
    display: flex;
    flex-direction: column;
  }
  .tarjeta-group .tarjeta {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .tarjeta-group .tarjeta .tarjeta-header .img-card {
    width: 100%;
    display: block;
  }
  .tarjeta-group .tarjeta .tarjeta-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .tarjeta-group .tarjeta .tarjeta-body .descripcion {
    flex-grow: 1;
  }
  /*media lista tickets*/
  .lista-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 15px;
    list-style: none;
  }
  /*media precios lugares*/
  .container-precios {
    display: flex;
    flex-direction: column;
  }
  .container-precios .img-ubicacion {
    margin-left: 0;
    margin-top: 10px;
  }
  .main-tickets .titulo-tickets {
    margin-left: 8px;
  }
  .main-home {
    padding-top: 10px;
  }
}
/*media tablet*/
@media (min-width: 451px) and (max-width: 770px) {
  /*nav*/
  .color-nav {
    margin: 5px;
  }
  .color-nav .navbar-collapse .navbar-nav {
    gap: 10px;
  }
  p {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 38;
  }
  h2 {
    font-size: 26px;
  }
  .lista-group-item {
    font-size: 1.125rem;
  }
  .btn {
    font-size: 18px;
  }
  .boton-card {
    font-size: 18px;
  }
  h4 {
    font-size: 22px;
  }
  .encabezado-tabla {
    font-size: 15px;
  }
  .size-td {
    font-size: 14px;
  }
  .acordion-button {
    font-size: 18px;
  }
  /*media-card*/
  .tarjeta-group {
    display: flex;
    flex-direction: column;
  }
  .tarjeta-group .tarjeta {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .tarjeta-group .tarjeta .tarjeta-header .img-card {
    width: 100%;
    display: block;
  }
  .tarjeta-group .tarjeta .tarjeta-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .tarjeta-group .tarjeta .tarjeta-body .descripcion {
    flex-grow: 1;
  }
  /*media lista tickets*/
  .lista-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 15px;
    list-style: none;
  }
  /*media precios lugares*/
  .container-precios {
    display: flex;
    flex-direction: column;
  }
  .container-precios .img-ubicacion {
    margin-left: 0;
    margin-top: 10px;
  }
  .main-tickets .titulo-tickets {
    margin-left: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
