$color: (
   nav-footer-boton :rgb(185, 169, 159),
   fondos: rgb(218, 212, 208),
   bordes:#291c08, 
   card: #fffaf2,
);

$font-sizes: (
    h1: 40px,
    h2: 30px,
    p: 1.25rem,
    nav: 20px,
    foot:15px,
    h4: 25px,
    h5: 22px,
    btn:20px,
    /*media mobile*/
    parrafo-mobile: 1rem,
    h1-mobile:36px,
    h2-mobile:24px,
    h4-mobile: 20px,
    th-mobile: 13px,
    td-mobile: 12px,
    btn-mobile:16px,
    /*media tablet*/
    parrafo-tablet: 1.125rem,
    h1-tablet: 38,
    h2-tablet:26px,
    h4-tablet: 22px,
    th-tablet: 15px,
    td-tablet: 14px,
    btn-tablet:18px,
);