$color: (
   nav-footer-boton :rgb(185, 169, 159),
   fondos: rgb(218, 212, 208),
   bordes:#291c08, 
   card: #fffaf2,
);

$font-sizes: (
   /*c: computadora m:mobile t: tablet*/
    h1ct: 40px,
    h2: 30px,
    cont: 1.25rem,
    /*nav*/
    nav: 20px,
    /*media*/
    h1m: 30px,
    h2mt: 25px,
    /*footer*/
    foot:15px,
);