/*contenido*/
h1 {
    font-family: $title-font;
    @extend %titulos;
}
p {
    font-family: $content-font;
    font-size: map-get($font-sizes, p );
}
h2 {
    font-family: $content-font;
    font-size: map-get($font-sizes, h2 );
}
h4 {
    font-family: $content-font;
    font-size: map-get($font-sizes, h4 );
}
h5 {
    font-family: $content-font;
    font-size: map-get($font-sizes, h5 );
}
a {
    text-decoration: none;
    color: rgb(52, 51, 51);
    &:hover {
        color: black;
    }

}

label {
    font-family: $content-font;
}
input {
    font-family: $content-font;
}
textarea {
    font-family: $content-font;
}
.lista-group-item  {
    font-size: map-get($font-sizes, p );
 }
 .btn {
    font-size: map-get($font-sizes, btn );
 }

 .acordion-button {
    font-size: map-get($font-sizes, p);
 }