/*footer*/
footer {
    background-color: map-get($color , nav-footer-boton);

    .div-container-footer {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 25px;

        .div-col {
            text-align: left;

            .copy {
                font-size: map-get($font-sizes, foot);
                color: $letra;
            }
        }

        .rrss {
            text-align: center;

            .redes {
                @include medidas (24px, 24px);
                margin: 10px;
            }

        }
    }
}