.main-home {
    
    .parrafo-inicio {
        font-size: map-get($font-sizes , p );
        text-align: justify;
    }
    .imagen-home {
        @include medidas (100% , auto);
        border-radius: 30px;
    }

}
