/*home*/
.main-home {
    .animate__animated.animate__rubberBand {
        --animate-duration: 1.5s;

    }
    .parrafo-inicio {
        text-align: justify;
    }
    .imagen-home {
        @include medidas (100% , auto);
        border-radius: 30px;
    }

}
