@media (max-width: 450px) {

    /*nav*/
    .color-nav {
        margin: 5px;
        padding: 5px 5px;

        .navbar-collapse {
            .navbar-nav {
                gap: 10px
            }
        }
    }

    p {
        font-size: map-get($font-sizes, parrafo-mobile);
    }

    h1 {
        font-size: map-get($font-sizes , h1-mobile);
    }
    h2 {
        font-size: map-get($font-sizes , h2-mobile);
    }

    /*media-card*/
    .tarjeta-group {
        display: flex;
        flex-direction: column;

        .tarjeta {
            margin: 0;
            display: flex;
            flex-direction: column;

            .tarjeta-header {
                .img-card {
                    width: 100%;
                    display: block;
                }
            }

            .tarjeta-body {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .descripcion {
                    flex-grow: 1;
                }
            }
        }
    }

    /*media lista tickets*/
    .lista-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        padding-top: 15px;
        list-style: none;
    }

    /*media precios lugares*/
    .container-precios {
        display: flex;
        flex-direction: column;

        .img-ubicacion {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

@media (min-width: 451px) and (max-width: 770px) {

    /*nav*/
    .color-nav {
        margin: 5px;

        .navbar-collapse {
            .navbar-nav {
                gap: 10px
            }
        }
    }

    p {
        font-size: map-get($font-sizes, parrafo-tablet);
    }

    h1 {
        font-size: map-get($font-sizes , h1-tablet);
    }

    h2 {
        font-size: map-get($font-sizes , h2-tablet);
    }

    /*media-card*/
    .tarjeta-group {
        display: flex;
        flex-direction: column;

        .tarjeta {
            margin: 0;
            display: flex;
            flex-direction: column;

            .tarjeta-header {
                .img-card {
                    width: 100%;
                    display: block;
                }
            }

            .tarjeta-body {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .descripcion {
                    flex-grow: 1;
                }
            }
        }
    }

    /*media lista tickets*/
    .lista-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        padding-top: 15px;
        list-style: none;
    }

    /*media precios lugares*/
    .container-precios {
        display: flex;
        flex-direction: column;

        .img-ubicacion {
            margin-left: 0;
            margin-top: 10px;
        }
    }

}