/*nav*/
.color-nav {
    background-color: map-get($color , nav-footer-boton );
    border-radius: 15px;
    margin: 5px 40px;

    .navbar-collapse {
        justify-content: center;

        .navbar-nav {
            font-size: map-get($font-sizes , nav );
            gap: 30px;
            

            .nav-item {
                margin-left: 10px;

                .nav-link {
                    color: white;
                    &:hover {
                        color: rgb(240, 219, 219);
                        font-size: 21px;
                    }
                }
            }
        }
    }

}
.logo-abel {
    @include medidas(100px,60px );
    margin-left: 15px;
    z-index: 10;
}