/*acordion preguntas*/
.acordion-preguntas {

    .acordion-header {
        padding: 1.25rem;
        background-color: rgb(185, 169, 159);

        &:hover {
            background-color: rgb(149, 133, 124);
        }
        .acordion-button {
            border: none;
            background-color: transparent;
            font-size:map-get($font-sizes, p );
            color: rgb(40, 40, 39);
            text-align: left;
        }
    }
    .acordion-body {
        padding: 15px;
        font-family: $content-font;
        font-size: map-get($font-sizes, p );
    }
    a {
        text-decoration: none;
        color: black;
    }

}