/*acordion preguntas*/


.acordion-header {
    padding: 1.25rem;
    background-image: linear-gradient(to bottom, rgb(196, 177, 166), rgb(158, 145, 136));

    

    .acordion-button {
        border: none;
        background-color: transparent;
        font-size: map-get($font-sizes, p);
        color: white;
        text-align: left;
    }
}

.acordion-body {
    padding: 15px;
    font-family: $content-font;
    font-size: map-get($font-sizes, p);
}

a {
    text-decoration: none;
    color: black;
}