/*tickets*/
.main-tickets {
    margin-top: 30px;
    padding-top: 50px;
    .titulo-tickets {
        margin-left: 2.5rem;
    }
    .imagen-es-ahora-tickets {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        line-height: 0px;
    }
}

/*fondo-tickets*/
.section-tickets {
    text-align: center;
    margin-top: 40px;
    background-image: url(/assets/img/fondo-tickets.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.lista-group {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    list-style: none;

    .link-img{
        width: 40%;
        &:hover{
            transform: scale(1.1);
            transition: ease-in 0.4s;

        }
        .img-luciano-abel {
            width: 70%;
            max-width: 70%;
            max-height: 10%;
            line-height: 0px;
            border-radius: 8px;
        }
    }

    .lista-group-item {
        font-family: $content-font;
        border: none;
        text-align: center;

        .direccion {
            color: #0069c2;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .lista-boton {
        text-align: center;
        &:hover {
            animation: headShake;
            animation-duration: 2.5s;
        }
    }

    .btn-tickets {
        color: white;
    }
}

.subtitulo-precios {
    margin-top: 25px;
    margin-bottom: 25px;
}

.subtitulo-mapa {
    margin-top: 25px;
    margin-bottom: 25px;

}

.container-precios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    .img-ubicacion {
        max-width: 100%;
        height: auto;
        margin-left: 20px;
        
     }
}

.tabla {
    th {
        padding: 10px 30px;
        font-family: $content-font;
        background-color: map-get($color, nav-footer-boton );
        text-align: center;
    }
    tbody {
        tr {
            border: 1px solid map-get($color, border );
            td {
                font-family: $content-font;
                text-align: center;
                padding: 5px 10px;
                border: 1px solid rgb(185, 169, 159),;
            }
            .color-td {
                background-color: map-get($color,fondos);

            }
        }
    }
}

