/*tickets*/
.main-tickets {
    .titulo-tickets {
        margin-left: 2.5rem;
        margin-bottom: 32px;

    }
}

.lista-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    list-style: none;

    .lista-group-item {
        font-family: $content-font;
        font-size: map-get($font-sizes, p );
        border: none;
    }

    .btn-tickets {
        color: white;
    }
}

.mapa-local {
    width: 100%;
 }