/*tickets*/
.main-tickets {
    .titulo-tickets {
        margin-left: 2.5rem;
    }
}

.lista-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    list-style: none;

    .lista-group-item {
        font-family: $content-font;
        border: none;

        .direccion {
            &:hover {
                color: rgb(102, 83, 58);
            }
        }
    }

    .lista-boton {
        &:hover {
            animation: headShake;
            animation-duration: 2.5s;
        }
    }

    .btn-tickets {
        color: white;
    }
}

.mapa-local {
    width: 100%;
}

